### Creating a recomender system that preducts books to the customer.
#### The recommender system takes into account the books that the user has previously read.

In [47]:
#import libraries and load dataset
import pandas as pd
df = pd.read_csv('BX-Books.csv',on_bad_lines='skip',encoding='latin-1',sep=';')
df.head()

/var/folders/08/p0v319w963s3b56bqpb1t1tr0000gq/T/ipykernel_3670/3418476106.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('BX-Books.csv',on_bad_lines='skip',encoding='latin-1',sep=';')

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [14]:
#Preprocessing data
#Remove duplicates
df.drop_duplicates(subset='Book-Title')

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271354,0449906736,Flashpoints: Promise and Peril in a New World,Robin Wright,1993,Ballantine Books,http://images.amazon.com/images/P/0449906736.0...,http://images.amazon.com/images/P/0449906736.0...,http://images.amazon.com/images/P/0449906736.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [17]:
sample_size = 15000
df = df.sample(n=sample_size, replace=False, random_state=490)

df = df.reset_index()
df = df.drop('index',axis=1)

In [19]:
def clean_test(author):
    result = str(author).lower()
    return(result.replace(' ', ''))

In [23]:
df['Book-Author'] = df['Book-Author'].apply(clean_test)

In [24]:
#Convert book title and publisher to lowr case
df['Book-Title'] = df['Book-Title'].str.lower()
df['Publisher'] = df['Publisher'].str.lower()

In [31]:
#Combine all strings
df2 = df.drop(['ISBN','Image-URL-S','Image-URL-M','Image-URL-L', 'Year-Of-Publication'], axis=1)

df2['data'] = df2[df2.columns[1:]].apply(
    lambda x:  ' '.join(x.dropna().astype(str)), 
    axis=1)
print(df2['data'].head(5))

0                        marilynbeck jove books
1                    peggyparish yearling books
2    geoffreychaucer cambridge university press
3                     janelletaylor zebra books
4                          robertvangulik press
Name: data, dtype: object

In [39]:
#Vectorize data
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
vectorized = vectorizer.fit_transform(df2['data'])

In [40]:
#Calculate cosine similary
from sklearn.metrics.pairwise import cosine_similarity
similarities = cosine_similarity(vectorized)
print(similarities)

[[1.         0.33333333 0.         ... 0.         0.         0.33333333]
 [0.33333333 1.         0.         ... 0.         0.         0.33333333]
 [0.         0.         1.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 1.         0.         0.        ]
 [0.         0.         0.         ... 0.         1.         0.        ]
 [0.33333333 0.33333333 0.         ... 0.         0.         1.        ]]

In [42]:
df = pd.DataFrame(similarities, columns=df['Book-Title'], index=df['Book-Title']).reset_index()
df.head()

Book-Title,Book-Title,only make believe,too many rabbits,the general prologue to the canterbury tales,fortune's flames,"the chinese maze murders : a judge dee mystery (gulik, robert hans, judge dee mystery.)","what a man's got to do (home on the ranch) (harlequin superromance, 824)","when my parents were my age, they were old : or, who are you calling middle-aged?",pass the loot : a fox trotcollection,vegetarian classics: 300 essential recipes for every course and every meal,...,lisa in new york (the misadventures of gaspard and lisa),contact the first four minutes,stand up speak out,dark canyon,einstein's universe,"ghost squadron (gunsmith, 245)",lentejuelas,aerobic dance exercise,celtic borders,bringing out betsy
0,only make believe,1.000000,0.333333,0.000000,0.333333,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.333333,0.0,0.288675,0.0,0.666667,0.0,0.0,0.0,0.333333
1,too many rabbits,0.333333,1.000000,0.000000,0.333333,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.333333,0.0,0.288675,0.0,0.333333,0.0,0.0,0.0,0.333333
2,the general prologue to the canterbury tales,0.000000,0.000000,1.000000,0.000000,0.353553,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000
3,fortune's flames,0.333333,0.333333,0.000000,1.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.333333,0.0,0.288675,0.0,0.333333,0.0,0.0,0.0,0.666667
4,the chinese maze murders : a judge dee mystery...,0.000000,0.000000,0.353553,0.000000,1.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000

In [46]:
#Display user recommendation
input_book = 'fortune\'s flames'
recommendations = pd.DataFrame(df.nlargest(11, input_book)['Book-Title'])
recommendations = recommendations[recommendations['Book-Title']!=input_book]
print(recommendations)

                                             Book-Title
7240                                  love me with fury
8175     destiny's temptress (zebra historical romance)
164         texas wildflower (zebra historical romance)
184      against the odds (zebra historical romance s.)
233             just say yes (zebra historical romance)
267                    stolen kisses (zebra bouquet 56)
276                                       someone knows
768           mistletoe kittens (zebra regency romance)
956                                   wrapped in wishes
1290  texas indigo (zebra splendor historical romances)